html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

:root {
    --background-color: #121212; 
    --grey-100: hsl(0, 0%, 10%);
    --grey-200: hsl(0, 0%, 17%);
    --grey-300: hsl(0, 0%, 30%);
    --grey-900: hsl(0, 0%, 90%);

    --primary: #B11500; 
    --section: #F8E8DA; 
    --text-color: hsl(0, 0%, 90%);;
}

body {
    margin: 0;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 140px auto 60px;
}

h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: var(--text-color);
    margin-inline: 20px;
}

main {
    grid-column: 2;
    grid-row: 2;
    background-color: var(--grey-100);
    margin-top: 5px;
}

/* 
****************************************
    HEADER
****************************************
*/

.hlavicka {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    padding-inline: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid var(--grey-300);
    background-color: var(--grey-100);
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.hlavicka__logo {
    border-radius: 50%;
    background-color: var(--grey-900);
    width: 100px;
    height: 100px;
}

.menu__checkbox {
    display: none;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    background-color: var(--grey-200);
    z-index: inherit;
    position: relative;
    top: 30px;
}

.menu__item {
    border-bottom: 1px solid var(--primary);
}

.menu__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.menu__toggler {
    cursor: pointer;
}

.menu__checkbox:checked ~ .menu__list {
    display: block;
}

.menu__toggler--img {
    width: 50px;
}

/* 
****************************************
    DOMŮ
****************************************
*/
.domu {
    grid-column: 2;
    grid-row: 2;
    margin-top: 5px;
    display: flex;
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    padding-block: 40px;
    padding-inline: 20px;
    margin: 0;

    background-image: url(./../img/back1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.akce {
    grid-column: 1;
    grid-row: 1;
}

.akce__nabidka-logo, .akce__nabidka-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B11500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.700);
    padding: 20px;
    margin-bottom: 20px;
}

.akce__ikona, .novinky__ikona {
    width: 40px;
    margin-right: 20px;
}

.akce__nadpis, .novinky__nadpis {
    font-size: 18px;
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    margin: 0;
}

.obal {
    background-color: #F17000;
    border-radius: 0 50% 50% 0;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    grid-column: 1;
    grid-row: 1;
}

.akce__nabidka-nadpis, .novinky__nabidka-nadpis {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.pon, .ut, .st, .ct {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 1;
    align-items: center;
    background-color: var(--section);
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.700);
    margin: 20px;
    max-width: 300px;
}

.dny {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
}

.akce__nabidka-text, .novinky__nabidka-text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    color: #B11500;
    grid-column: 2;
    padding-inline: 20px;
}

.novinky {
    grid-column: 1;
    grid-row: 2;
}

.novinky__nabidka-nadpis {
    color: #B11500;
    font-weight: 600;
    margin-block: 10px;
}

.novinky__nabidka-text {
    padding: 0 20px 20px 20px;
}

.novinky__nabidka {
    background-color: var(--section);
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.700);
    margin: 20px;
}

.novinky__nabidka-medovnik {
    width: 100%;
    margin: 0;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}



/* 
****************************************
    MENU
****************************************
*/
.menu-pizza {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    background-image: url(./../img/wood-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 140px - 60px);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
}

.navigace-list {
    grid-column: 1;
    grid-row: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.list__item {
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #B11500;
    margin-inline: 10px;
    background-color: var(--grey-100);
    margin: 0;
}

.list__item:hover {
    background-color: var(--grey-200);
    cursor: pointer;
}

.pizza-sekce {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B11500;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.700);
    padding: 20px;
    margin-block: 20px;
    margin-inline: 10px;
}

.nabidka-pizza__sekce {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.pizza-nabidka__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1;
}

.pizza-nabidka__nazev, .pizza-nabidka__popis, .pizza-nabidka__cena {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.pizza-nabidka__nazev {
    color: #B11500;
    margin-block: 20px;
    font-weight: 600;
    grid-column: 1;
    grid-row: 2;
}

.pizza-nabidka__popis {
    padding-inline: 20px;
    grid-column: 1;
    grid-row: 3;
}

.pizza-nabidka__cena {
    margin-block: 20px;
    grid-column: 1;
    grid-row: 4;
}

.pizza-nabidka__masova {
    grid-column: 1;
    grid-row:2;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
}

.pizza-nabidka {
    grid-column: 1;
    grid-row:2;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.pizza-nabidka__pizza1, .pizza-nabidka__pizza2, .pizza-nabidka__pizza3,
.pizza-nabidka__pizza4, .pizza-nabidka__pizza5, .pizza-nabidka__pizza6,
.pizza-nabidka__pizza7, .pizza-nabidka__pizza8, .pizza-nabidka__pizza9, 
.pizza-nabidka__pizza10 {
    background-color: var(--grey-100);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.700);
}

.pizza-nabidka__pizza1, .pizza-nabidka__pizza5, 
.pizza-nabidka__pizza7, .pizza-nabidka__pizza9 {
    grid-column: 2;
    grid-row: 1;
} 

.pizza-nabidka__pizza2, .pizza-nabidka__pizza6,
.pizza-nabidka__pizza8, .pizza-nabidka__pizza10 {
    grid-column: 2;
    grid-row: 2;
}
 
.pizza-nabidka__pizza3 {
    grid-column: 2;
    grid-row: 3;
}

.pizza-nabidka__pizza4 {
    grid-column: 2;
    grid-row: 4;
}

.pizza-nabidka__pizza10 {
    margin-bottom: 10px;
}

.navigace-ikona {
    display: none;
}


/* 
****************************************
    ABOUT
****************************************
*/
.about {
    grid-column: 2;
    grid-row: 2;
    margin-top: 5px;
    display: flex;
    justify-content: center;

    background-image: url(./../img/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    padding-block: 40px;
    padding-inline: 20px;
    margin: 0;
    min-height: calc(100vh - 140px - 60px);
}

.about__img {
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.about__text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    text-align: left;
    margin: 0;
    color: var(--text-color);
    line-height: 1.6;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.prvni-cast {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.druha-cast {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

.treti-cast {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

/* 
****************************************
    CONTACTS
****************************************
*/
.kontakt {
    grid-column: 2;
    grid-row: 2;
    background-image: url(./../img/kontakty.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 140px - 60px);
}

.kontakt__info--text {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    color: #B11500;
}

h2 {
    font-size: 18px;
    font-family: "Capriola", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #B11500;
    margin: 0;
    margin-bottom: 10px;
}

.kontakt__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    padding-block: 12%;
    padding-inline: 20px;
    row-gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.kontakt-adresa, .kontakt-doba, .kontakt-odkazy, .kontakt-blog a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: var(--section);
    text-align: left;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.kontakt-blog a {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    color: #B11500;
    text-decoration: none;
}

.kontakt-adresa {
    grid-column: 1;
    grid-row: 1;
}

.kontakt-doba {
    grid-column: 1;
    grid-row: 2;
}

.kontakt-odkazy {
    grid-column: 1;
    grid-row: 3;
}

.kontakt-blog {
    grid-column: 1;
    grid-row: 4;
}

.kontakt__info-ikona {
    width: 40px;
    margin-right: 20px;
}


/* 
****************************************
    FOOTER
****************************************
*/

footer {
    grid-column: 2;
    grid-row: 3;
    border-top: 1px solid var(--grey-300);
    padding-inline: 50px;
    background-color: var(--grey-100);
    text-align: center;
    color: var(--text-color);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}



@media(min-width: 760px) {    
    .hlavicka {
        flex-direction: row;
    }

    .menu__toggler {
        display: none;
    }

    .menu__list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;
        overflow: hidden;
        display: flex !important; 
        flex-direction: row;
        align-items: center;
        gap: 20px;
        background-color: var(--grey-100);
        position: none;
        top: 0;
    }

    .menu__item {
        border-bottom: none;
    }
    
    .menu__link:hover {
        color: var(--primary);
        cursor: pointer;
        border-bottom: 1px solid var(--primary);
    }
    /* 
    ****************************************
        DOMŮ
    ****************************************
    */

    .domu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .akce {
        grid-column: 1;
        grid-row: 1;
    }

    .novinky {
        grid-column: 2;
        grid-row: 1;
    } 

    /* 
    ****************************************
        ABOUT
    ****************************************
    */
    .prvni-cast {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
    }
    
    .druha-cast {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: row-reverse;
        gap: 30px;
        align-items: center;
    }
    
    .treti-cast {
        grid-row: 3;
        grid-column: 1;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .treti-cast__text {
        display: flex;
        flex-direction: column;
    }

    .about__img {
        width: 40%;
        margin: 0;
        object-fit: cover;
    }

    /* 
    ****************************************
        MENU
    ****************************************
    */

    .navigace-ikona {
        display: flex;
        border-radius: 50%;
        background-color: #B11500;
        width: 50px;
        height: 50px;
        padding: 3px;
    }
    
    .list__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .pizza-nabidka__masova {
        flex: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        margin-inline: 20px;
    }
    .pizza-nabidka__pizza1 {
        grid-column: 1;
        grid-row: 1;
    } 
    
    .pizza-nabidka__pizza2 {
        grid-column: 2;
        grid-row: 1;
    }
     
    .pizza-nabidka__pizza3 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .pizza-nabidka__pizza4 {
        grid-column: 2;
        grid-row: 2;
    }

    .pizza-nabidka__pizza1, .pizza-nabidka__pizza2, .pizza-nabidka__pizza3,
    .pizza-nabidka__pizza4, .pizza-nabidka__pizza5, .pizza-nabidka__pizza6,
    .pizza-nabidka__pizza7, .pizza-nabidka__pizza8, .pizza-nabidka__pizza9, 
    .pizza-nabidka__pizza10 {
        max-width: 400px;
        max-height: 500px;
    }

    .pizza-nabidka {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 20px;
        margin-inline: 20px;
    }

    .pizza-nabidka__pizza5, .pizza-nabidka__pizza7, .pizza-nabidka__pizza9 {
        grid-column: 1;
        grid-row: 1;
    } 
    

    .pizza-nabidka__pizza6, .pizza-nabidka__pizza8, .pizza-nabidka__pizza10 {
        grid-column: 2;
        grid-row: 1;
    }
    .pizza-nabidka__pizza9 {
        margin-bottom: 10px;
    }

    /* 
    ****************************************
        CONTACTS
    ****************************************
    */
    .kontakt__info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        padding-block: 12%;
    }
    
    .kontakt-adresa, .kontakt-doba, .kontakt-odkazy, .kontakt-blog a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--section);
        text-align: center;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        padding: 20px;
        
        height: 176px;
    }
    
    .kontakt-odkazy a {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        margin: 0;
        color: #B11500;
        text-decoration: none;
    }
    
    .kontakt-adresa {
        grid-column: 1;
        grid-row: 1;
    }
    
    .kontakt-doba {
        grid-column: 2;
        grid-row: 1;
    }
    
    .kontakt-odkazy {
        grid-column: 1;
        grid-row: 2;
    }

    .kontakt-blog {
        grid-column: 2;
        grid-row: 2;
    }
    
    .kontakt__info-ikona {
        margin-right: 0;
        margin-bottom: 20px;
    }
}



@media(min-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 120px auto 120px;
        grid-template-rows: repeat(3, auto);
    }

    .hlavicka {
        padding-inline: 120px;
    }
    
    .menu__link {
        border-inline: none;
    }
    
    .menu__link:hover {
        color: var(--primary);
        cursor: pointer;
        border-bottom: 1px solid var(--primary);
    }

    .domu {
        padding-inline: 120px;
    }
    /* 
    ****************************************
        ABOUT
    ****************************************
    */
    .about {
        padding-inline: 100px;
    }
    
    .about__img {
        width: 40%;
        margin: 0;
        object-fit: cover;
    }
    /* 
    ****************************************
        CONTACTS
    ****************************************
    */
    .kontakt__info {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        padding-block: 12%;
        gap: 30px;
    }

    .kontakt-adresa {
        grid-column: 1;
        grid-row: 1;
    }
    
    .kontakt-doba {
        grid-column: 2;
        grid-row: 1;
    }
    
    .kontakt-odkazy {
        grid-column: 3;
        grid-row: 1;
    }

    .kontakt-blog {
        grid-column: 4;
        grid-row: 1;
    }
    
}