<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvoje pizza</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Source+Sans+3:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Source+Sans+3:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Hlavička -->
    <div class="hlavicka">
        <div class="logo">
            <img class="hlavicka__logo" src="/img/pizza-logo.png" alt="logo">
            <h1>Tvoje pizza</h1>
        </div>
        <nav class="menu">
            <input id="menu__toggle" type="checkbox"/>
            <label class="menu__btn" for="menu__toggle"><span></span></label>
            <ul class="menu__box">
                <li class="menu__item"><a class="menu__link" href="/">Domů</a></li>
                <li class="menu__item"><a class="menu__link" href="/about">O nás</a></li>
                <li class="menu__item"><a class="menu__link" href="/menu">Menu</a></li>
                <li class="menu__item"><a class="menu__link" href="/contacts">Kontakty</a></li>
            </ul>
        </nav>
    </div>

    <!-- Obsah -->
    <main>
        {{ content | safe }}
    </main>

    <!-- Patička -->
    <footer>
        <p class="paticka__text">2024, Tvoje pizza</p>
    </footer>
</body>
</html>